.weekly-grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.weekly-grid-table {
    border-collapse: collapse;    
    width: 90%;
    height: 70%;
    margin: auto;
    text-align: center;
    border: 1px solid black;
}

.weekly-grid-table th,
.weekly-grid-table td {
    padding: 0.5rem;
    border: 1px solid black;
    width: 4vw;
}

.weekly-grid-table th {
    background-color: #f0f0f0;
}

.weekly-grid-table td {
    transition: background-color 0.3s ease;
}

.weekly-grid-table td:hover {
    opacity: 0.8;
}

.busy-cell {
    background-color: #f73e3e;
}

.free-cell {
    background-color: #45fc0d;
}